.homepage {
    margin: 0;
    padding: 0;
  }
  
  /* Banner Section */
  .banner {
    width: 100vw;
    overflow: hidden;
    margin-top: 10px; /* Adjust this value as needed */
  }
  
  /* Full-width responsive image */
  .banner-img {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
  }
  